{% extends 'web/base.html' %}
{% block content %}
<div class="dashboard">
    <div class="dashboard-section">
        <div class="section-title">Проекты</div>
        <div class="card-list">
            {% for project in projects %}
                <div class="card project {% if project.is_done %}done{% endif %}" onclick="location.href='{% url 'current_project' project.id %}'">
                    <div class="card-title">{{ project.title }}</div>
                    <div class="card-info">
                        <span class="icon">📅</span>{{ project.date_create|date:"d/m/Y" }}
                        <span class="icon">⏰</span>{{ project.deadline|date:"d/m/Y" }}
                        <span class="icon">👥</span>
                        {% for emp in project.employees.all %}
                            {{ emp.fio }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}