{% extends 'web/base.html' %}
{% block content %}
    <div class="auth-container">
        <h2>Авторизация</h2>
        <form action="" method="post" class="auth-form"> <!-- ещё, чтобы не отображались все данные в строке ссылки -->
            {% csrf_token %} <!-- тэш безопасности, чтобы защититься от CSRF-атак  -->
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit">Войти</button>
        </form>

        <div class="auth-links">
            <button class="sec" onclick="window.location.href='{% url 'registration' %}'">Зарегистрироваться</button>
        </div>
    </div>
{% endblock %}
