<!-- комментарий -->
<!--  -->
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Task tracker</title> <!-- это то что наверху в иконке пишется -->
</head>
<body>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
    {% if not user.is_anonymous %}
    <nav class="sidebar" id="sidebar">
    <div class="logo">
        <img src="{% static 'img/logo.png' %}" alt="Task tracker">
    </div>
    <ul class="menu">
    <li class="{% if request.path == '/' %}active{% endif %}">
        {% if request.path == '/' %}<span class="dash">—</span>{% endif %}
        <a href="/">Главная</a>
    </li>
    <li class="{% if request.path == '/project/' %}active{% endif %}">
        {% if request.path == '/project/' %}<span class="dash">—</span>{% endif %}
        <a href="/project/">Проект</a>
    </li>
    <li class="{% if request.path == '/profile/' %}active{% endif %}">
        {% if request.path == '/profile/' %}<span class="dash">—</span>{% endif %}
        <a href="/profile/">Профиль</a>
    </li>
    <li class="{% if request.path == '/employees/' %}active{% endif %}">
        {% if request.path == '/employees/' %}<span class="dash">—</span>{% endif %}
        <a href="/employees/">Отчёт по сотрудникам</a>
    </li>
    <li class="{% if request.path == '/projects/' %}active{% endif %}">
        {% if request.path == '/projects/' %}<span class="dash">—</span>{% endif %}
        <a href="/projects/">Отчёт по проектам</a>
    </li>
    <li class="{% if request.path == '/calendar/' %}active{% endif %}">
        {% if request.path == '/calendar/' %}<span class="dash">—</span>{% endif %}
        <a href="/calendar/">Календарный график</a>
    </li>
    <li class="{% if request.path == '/feedback/' %}active{% endif %}">
        {% if request.path == '/feedback/' %}<span class="dash">—</span>{% endif %}
        <a href="/feedback/">Обратная связь</a>
    </li>

    <div class="logout-container">
    <div class="username-box">
        <span class="username-label">Пользователь:</span>
        <span class="username">{{ user.username }}</span>
    </div>
    <a href="{% url 'logout' %}" class="logout-button">Выход</a>
    </div>
    </ul>


</nav>
    {% endif %}
    {% block content %}{% endblock %}

</body>

</html>