<!-- комментарий -->
<!--  -->
<!DOCTYPE html>
<html>
<head>
    <title>Task tracker</title> <!-- это то что наверху в иконке пишется -->
</head>
<body>
    <h1><a href="{% url 'main' %}">Task tracker</a></h1> <!-- тэг для заголовка  -->
    <nav>
        <a href="{% url 'main' %}">Главная</a>
        {% if user.is_anonymous %}
            <div style="text-align: right">
                <a href="{% url 'registration' %}">Регистрация</a>
                <a href="{% url 'auth' %}">Авторизация</a>
            </div>
        {% else %}
            <a href="{% url 'time_slots_add' %}">Создать тайм-слот</a> <!-- тег для ссылки -->
            <a href="{% url 'tags' %}">Теги</a> <!-- тег для ссылки -->
            <a href="{% url 'holidays' %}">Выходные</a> <!-- тег для ссылки -->
            <div style="text-align: right">
                {% if not user.is_anonymous %}
                    Вы авторизованы как <b>{{user.username}}</b>
                {% endif %}
                <a href="{% url 'logout' %}">Выход</a>
            </div>
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock %}

</body>

</html>