{% extends 'web/base.html' %}
{% block content %}
<h2>Выполненные задачи</h2>
    <a href="{% url 'tasks' %}">Невыполненные задачи</a>
    <hr>
{% for task in tasks %}
    <b>Добавлена: </b> {{ task.date_added }}

    <p>
        <b>{{task.title}}</b><br>
        <b>Описание: </b>{{task.description}}<br>
        <b>Дедлайн: </b>{{task.deadline}}<br>
        {% if task.tags.all.count > 0 %}
            <b>Теги: </b>
            <small>
                {% for tag in task.tags.all %}
                    {{ tag.title }} {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </small>
        {% endif %}<br>
        <b>Над задачей работали: </b>
        {% for emp in task.employees.all %}
            {{ emp.fio }} {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <a href="{% url 'complete_task' task.id %}">Вернуть</a>
    <hr>
{% endfor %}
    <nav>
        {% if tasks.has_previous %}
            <a href="?page=1">В начало</a>
            <a href="?page={{tasks.previous_page_number}}">Предыдушая страница</a>
        {% endif %}

        Найдено задач:
        {% if total_count > 0%}
            <b>{{total_count}}</b> <br>
        {% else %}
            <b>0</b><br>
        {% endif %}

        {% if tasks.paginator > 0  %}
            cтраница {{ tasks.number }} из {{tasks.paginator.num_pages}}
        {% else %}
            страница 1 из 1
        {% endif %}

        {% if tasks.has_next %}
            <a href="?page={{tasks.next_page_number}}">В конец</a>
            <a href="?page={{tasks.paginator.num_pages}}">Следующая страница</a>
        {% endif %}
    </nav>
{% endblock %}