{% extends 'web/base.html' %}
{% block content %}
<h2>Выполненные задачи</h2>
    <a href="{% url 'tasks' %}">Невыполненные задачи</a>
    <hr>
{% for task in tasks %}
    <div class="dashboard">
    <div class="dashboard-section">
      <div class="card-list">
        {% for task in tasks %}
          <div class="card task {% if task.is_done %}done{% endif %}" onclick="location.href='{% url 'current_task' task.id %}'">
            <div class="card-title">{{ task.title }}</div>
            <div class="card-info">
              <span class="icon">📅</span>{{ task.date_added|date:"d/m/Y" }}
              <span class="icon">⏰</span>{{ task.deadline|date:"d/m/Y" }}
              <span class="icon">👥</span>
              {% for employee in task.employees.all %}
                {{ employee.fio }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
    <nav>
        {% if tasks.has_previous %}
            <a href="?page=1">В начало</a>
            <a href="?page={{tasks.previous_page_number}}">Предыдушая страница</a>
        {% endif %}

        Найдено задач:
        {% if total_count > 0 %}
            <b>{{total_count}}</b> <br>
        {% else %}
            <b>0</b><br>
        {% endif %}

        {% if tasks.paginator > 0  %}
            cтраница {{ tasks.number }} из {{tasks.paginator.num_pages}}
        {% else %}
            страница 1 из 1
        {% endif %}

        {% if tasks.has_next %}
            <a href="?page={{tasks.next_page_number}}">В конец</a>
            <a href="?page={{tasks.paginator.num_pages}}">Следующая страница</a>
        {% endif %}
    </nav>
{% endblock %}