{% extends 'web/base.html' %}
{% block content %}
    <h1>Регистрация</h1>
    {% if is_success %} <!-- если флаг true (те пользователь зарегистрирован), выводим сообщение -->
        <p><b>Спасибо за регистрацию!</b></p>
    {% else %}
        <!-- благодаря этому методу, нас не будет отправлять на ту же страницу -->
        <form action="" method="post"> <!-- ещё, чтобы не отображались все данные в строке ссылки -->
            {% csrf_token %} <!-- тэш безопасности, чтобы защититься от CSRF-атак  -->
            {{ form.as_p }}
            <button>Зарегистрироваться</button>
        </form>
        <button onclick='window.location.href="{% url 'auth' %}"'>Войти</button>
    {% endif %}
{% endblock %}