{% extends 'web/base.html' %}
{% block content %}
    <div class="registration-container">
        <h1>Регистрация</h1>

        {% if is_success %}
            <div class="success-message">
                <p><b>Спасибо за регистрацию!</b></p>
                <button class="btn btn-primary" onclick="window.location.href='{% url 'auth' %}'">Войти</button>
            </div>
        {% else %}
        <!-- благодаря этому методу, нас не будет отправлять на ту же страницу -->
            <form action="" method="post" class="registration-form"><!-- ещё, чтобы не отображались все данные в строке ссылки -->
                {% csrf_token %}<!-- тэш безопасности, чтобы защититься от CSRF-атак  -->
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit">Зарегистрироваться</button>
            </form>

            <div class="auth-links">
                <button class="sec" onclick="window.location.href='{% url 'auth' %}'">Уже есть аккаунт? Войти</button>
            </div>
        {% endif %}
    </div>


{% endblock %}