{% extends 'web/base.html' %}
{% block content %}
<h2>{{task.title}}</h2>
    <hr>
    <b>Добавлена: </b> {{ task.date_added }}
    <p>
        <b>Название: </b>{{task.title}}<br>
        <b>Описание: </b>{{task.description}}<br>
        <b>Дедлайн: </b>{{task.deadline}}<br>
        <b>Приоритет: </b>{{task.get_priority_display }}<br>
        {% if task.tags.all.count > 0 %}
            <b>Теги: </b>
            <small>
                {% for tag in task.tags.all %}
                    {{ tag.title }} {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </small><br>
        {% endif %}
        <b>Над задачей работают: </b>
        {% for emp in task.employees.all %}
            {{ emp.fio }} {% if not forloop.last %}, {% endif %}
        {% endfor %}
        <br>
    </p>
    {% if task.is_done == False %}
        <a href="{% url 'complete_task' task.id %}">Выполнено</a> |
        <a href="{% url 'edit_task' task.id %}">Редактировать</a>
        <a href="{% url 'delete_task' task.id %}">Удалить</a>
    {% else %}
        <a href="{% url 'complete_task' task.id %}">Отменить</a>
    {% endif %}
    <hr>
{% endblock %}