{% extends 'web/base.html' %}
{% block content %}
<h1 class="page-title mb-4">Задача</h1>
<div>
  <div class="task-meta">
    <span class="label">Добавлена:</span> <time datetime="{{ task.date_added|date:"c" }}">{{ task.date_added|date:"d M Y" }}</time>
  </div>

  <h3 class="task-title">{{ task.title }}</h3>

  <div class="task-description-block">
  <p class="task-desc">{{ task.description }}</p>
  <div class="task-desc-caption">Описание задачи</div>
</div>


  <div class="task-info">
    <div><span class="label">Дедлайн:</span> {{ task.deadline|date:"d M Y, H:i" }}</div>
    <div><span class="label">Приоритет:</span> <span class="priority priority-{{ task.priority }}">{{ task.get_priority_display }}</span></div>

    {% if task.tags.all.count > 0 %}
    <div><span class="label">Теги:</span>
      <ul class="tags-list">
        {% for tag in task.tags.all %}
          <li>{{ tag.title }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      <span class="label">Над задачей работают:</span>
      <ul class="employees-list">
        {% for emp in task.employees.all %}
          <li>{{ emp.fio }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% if user in task.employees.all %}
    {% if not task.is_done %}
        <a href="{% url 'complete_task' task.id %}">Выполнено</a>
        |
        <a href="{% url 'unassign_task' task.id %}">Отменить участие</a>
    {% else %}
        <a href="{% url 'complete_task' task.id %}">Отменить выполнение</a>
        |
        <a href="{% url 'unassign_task' task.id %}">Отменить участие</a>
    {% endif %}
{% else %}
    <a href="{% url 'take_task' task.id %}">Взять в работу</a>
{% endif %}


{% endblock %}