{% extends 'web/base.html' %}
{% block content %}
<!--        TODO: Исправить в соотсетствии с макетом и models.py -->
<!--    <h2>Теги</h2>-->
<!--    <ul>-->
<!--      {% for tag in items %}-->
<!--        <li>-->
<!--            {{ tag.title }}-->
<!--            &lt;!&ndash; добавляем ссылку, чтоб удалять теги  &ndash;&gt;-->
<!--            <small>-->

<!--                <a href="{% url 'tags_delete' tag.id %}">удалить</a>-->
<!--            </small>-->
<!--        </li>-->


<!--      {% endfor %}-->
<!--    </ul>-->

<!--    <b>Добавление тега</b>-->
<!--    <form action="" method="post">-->
<!--        {% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--        <button>Сохранить тег</button>-->
<!--    </form>-->
{% endblock %}