{% extends 'web/base.html' %}
{% block content %}
<!--        TODO: Исправить в соотсетствии с макетом и models.py -->
<!--    <h2>Создание тайм слота</h2>-->
<!--    <form action="" method="post" enctype="multipart/form-data"> &lt;!&ndash; ещё, чтобы не отображались все данные в строке ссылки &ndash;&gt;-->
<!--        {% csrf_token %} &lt;!&ndash; тэш безопасности, чтобы защититься от CSRF-атак  &ndash;&gt;-->
<!--        {{ form.as_p }}-->
<!--        <button>Сохранить</button>-->
<!--    </form>-->
{% endblock %}